<div class="container">
	<h1>Welcome to <%=@chatroom.name%></h1>
	<a href="/">Home</a>
	<%if session[:current_user] == @chatroom.user.id%>
		<a href="/chatroom/<%=@chatroom.id%>/delete">delete</a>
		<a href="/chatroom/<%=@chatroom.id%>/clear">clear messages</a>
	<%end%>


	<div class="chat-box">
		<ul>
			<%@chatroom.messages.each do |message|%>				
				<% @message = message %>
				<%= erb :_message %>
			<%end%>
		</ul>
	</div>

	<form class="add-message"action="/new/chatroom/message" method="POST">
		<textarea autofocus class="type-message" rows="5" cols="25" name="message"></textarea>
		<input type="hidden" name="chat_id" value="<%=@chatroom.id%>">
		<input type="submit" value="Say it">
	</form>
</div>