<div class="container">

	<ul class="right-nav">
		<li><h1>:<%=@chatroom.name%></h1></li>
		<%if session[:current_user] == @chatroom.user.id%>
			<li><a href="/chatroom/<%=@chatroom.id%>/delete">delete</a></li>
			<li><a href="/chatroom/<%=@chatroom.id%>/clear">clear messages</a></li>
		<%end%>
	</ul>


	<div class="chat-box">
		<ul>
			<%@chatroom.messages.each do |message|%>				
				<% @message = message %>
				<%= erb :_message %>
			<%end%>
		</ul>
	</div>

	<form class="add-message"action="/new/chatroom/message" method="POST">
		<textarea autofocus class="type-message" rows="5" cols="25" name="message"></textarea>
		<input type="hidden" name="chat_id" value="<%=@chatroom.id%>">
		<input type="submit" value="Say it">
	</form>
</div>